    body{
      background-color: hsl(212, 45%, 89%);
      display: flex;
      justify-content: center;
    }
    .qr-code-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 350px;
      background-color: white;  
      flex-direction: column; 
      border: 1px hidden;
      box-shadow: 5px 5px 8px hsl(216, 15%, 48%);
      border-radius: 15px;
      width: 240px;
    }
    .qr-code-container p{
      font-size: 13px;
      text-align: center;
      margin-top: 25px;
    }
   
    img{
      margin-top: 10px;
      width: 215px;
      border: 1px hidden;
      border-radius: 7px;
      height: 199px;
    }
    